# From lattuino_1.in.pcf
###################################
# Kéfir I HX4K Pin-pout
# Family & Device:    iCE40HX4K
# Package:            TQ144
###################################

# Capacitive-sense buttons
set_io BTN1 136
set_io BTN2 134
set_io BTN3 128
set_io BTN4 122

# LED outputs
set_io LED1 137
set_io LED2 135
set_io LED3 129
set_io LED4 121

# Clock input
set_io CLK 49

# SPI Flash
set_io SS_B 71
set_io SDO  67
set_io SDI  68
set_io SCK  70

# ISP SPI
# set_io ISP_RESET 117
set_io ISP_SCK   118
set_io ISP_MOSI  119
set_io ISP_MISO  120

# MCP3008 A/D
set_io AD_CS   101
set_io AD_Din  102
set_io AD_Dout 104
set_io AD_Clk  105

set_io ARDU00 138
set_io ARDU01 141
set_io ARDU02 143
set_io ARDU03 1
set_io ARDU04 4
set_io ARDU05 8
set_io ARDU06 10
set_io ARDU07 12
set_io ARDU08 19
set_io ARDU09 21
set_io ARDU10 23
set_io ARDU11 25
set_io ARDU12 28
set_io ARDU13 31
# set_io ARDU26 139
# set_io ARDU27 142
# set_io ARDU28 144
# set_io ARDU29 2
# set_io ARDU30 3
# set_io ARDU31 7
# set_io ARDU32 9
# set_io ARDU33 11
# set_io ARDU34 20
# set_io ARDU35 22
# set_io ARDU36 24
# set_io ARDU37 26
# set_io ARDU38 29
# set_io ARDU39 32
# set_io ARDU40 33
# set_io ARDU41 34

# Arduino Power (P2)
# Active low RESET
set_io RESET_P2 73 -pullup yes

# Milk channel A
set_io Milk_TXD 37
set_io Milk_RXD 38
set_io Milk_DTR 42



